:root{
    --nl-pink: #d63384;
    --nl-red: #dc3545;
    --nl-orange: #fd7e14;
    --nl-yellow: #ffc107;
    --nl-background:#F6F5F2;

    --nl-font: "Poppins", sans-serif;

    --bs-dark:#0d0d0d;
    
}
a{
    color: var(--bs-dark);
    text-decoration: none;
    transition: 0.3s color ease-out;
}

body {
    background-color: var(--nl-background);
    font-size: var(--font-size-large);
    font-family: var(--nl-font);
}

.button {
    background-color: var(--nl-orange);
    color: white;
  
    &:hover {
      background-color: lightblue;
    }
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    .content {
        padding-top: 102px;
    }

}
.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.wp-block-image {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Footer */
ul.wp-block-list {
    list-style: none;
    padding-left: 0; /* Corrected padding value */
    text-transform: uppercase;
    line-height: 2rem;

    &li:hover {
        color: #d63384;
    }
}