body{
    background-color: #F8EDED !important;
}
#login {
    padding-top: 20px !important;
}
.login h1 a { 
    background-image: url('login_nl.png');
}
.login label{font-size: 1.03rem !important;}
.login form {  
    margin-top:0px !important;  
    font-weight: 400;
    overflow: hidden;
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}
.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large{
    width: 100% !important;
    clear: both !important;
    background-color: #FF8225 !important;
    border: 0px;
    margin-top: 20px;
    padding: 5px;
    font-size: 1rem;
}